<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>      <!--hogan makes title takes the value of title in res.render of app.js -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/home.css" />
    
    <script src="main.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>

    <script src="../app-firebase.js"></script>
</head>
<body>
    <script>
        window.fbAsyncInit = function() {
            FB.init ({
                appId      : '746990539023401',
                xfbml      : true,
                version    : 'v2.6'
            });
        };
        
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
            
    </script>
    <div class="container">
        <div id="hm-container">
            <h1 class="hm-title">ChatCAT</h1>
            <p>Login with</p>
            <a href = "http://127.0.0.1:3001/facebook" onclick="facebookSigninPopup()"  ><img src="../images/fb_butt.png"></a>
        </div> 
    </div>
</body>
</html>>